* {
    margin:0;
    padding: 0;
}
body {
    background-image:url(./images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    width: 100%;
    height: 200vh;
    background-image:url(./images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    height:22% ;
    align-items: center;
    padding-left: 200px;
    margin-left: 2rem;
}

.col-7 {
    
    margin-top: 50px;
    margin-left: 300px;
    color:rgb(8, 8, 8);
    font-size: 20px;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}


nav ul li {
    list-style: none;
    display:inline-block; 
    justify-content: space-between;
    margin-right: 30px;
}
nav ul li a {
    margin-left: 1px;
    text-decoration: none;
    color:black;
    font-size: 14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar {
    max-width: 110rem;
    background-color: rgb(48, 48, 49);
}

.submit {
    background-color: rgb(201, 201, 212) ;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.submit:hover, .button:focus, .button:active{
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sub-header {
    background-image: url(./images/audio.jpg);
    width: 85.5%;
    height: 15rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 7rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    background-color: rgb(243, 200, 245);
    width: 85.5%;
    height: 5rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 7rem;
    
}

h1 {
    color: rgb(61, 60, 60);
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.audio {
    margin-top: 2rem;
    margin-left: 7rem;
}


