@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Roboto:ital,wght@1,300;1,500&family=Satisfy&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
  
  
}

.background {
    width: 100%;
    height: 240vh;
    background-image:url(./images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
 @media (max-width: 500px) {
    .background {
        min-height:100vh;
    }
    
    
 }

 .header {
    min-width: 100%;
    min-height: auto;
 }

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    height:22% ;
    align-items: center;
    padding-left: 200px;
    margin-left: 2rem;
}

.nav {
    align-items: center;
    line-height: 20px;
    margin-left: 1rem ;
    width: 95%;
}

nav ul li {
    list-style: none;
    display:inline-block; 
    justify-content: space-between;
    margin-right: 30px;
}
nav ul li a {
    margin-left: 1px;
    text-decoration: none;
    color:black;
    font-size: 14px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

section {
    min-height: 70vh;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 14rem;
    margin-top: 1rem;
}

.container__box{
    position: relative;
    width: 50%;
  }
  
  .images {
    opacity: 1;
    display: block;
    width: 200%;
    height: 100vh;
    border-radius: 15px;
    backface-visibility: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 200%;
    opacity: 0;
    transition: .5s ease;

  }
  
  .container__box:hover .overlay {
    opacity: 1;
  }

  .text {
    color:hsl(0, 94%, 21%);
    font-size: 80px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-animation: text 1s ease-in-out infinite alternate;
    -moz-animation: text 1s ease-in-out infinite alternate;
    animation: text 1s ease-in-out infinite alternate;
   /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */

    }
   @-webkit-keyframes text {
        from {
          text-shadow: 0 0 10px #f1cc7a, 0 0 20px #f1cc7a, 0 0 30px #f1cc7a, 0 0 40px #f1cc7a, 0 0 50px #f1cc7a, 0 0 60px #f1cc7a, 0 0 70px #f1cc7a;
        }
        to {
          text-shadow: 0 0 5px #c98c08, 0 0 5px #c98c08, 0 0 5px #c98c08, 0 0 5px #c98c08, 0 0 5px #c98c08, 0 0 5px #c98c08, 0 0 5px #c98c08;
        }
      }


.box {
    height: 650px;
    margin:2rem 14rem;
    background-color: rgba(240, 255, 255, 0.548);
    border-style:groove;
    
}

.heading {
    padding:1.5rem;
    padding-left: 2rem;
    border-bottom-style: groove;
    font-family:sans-serif;
    color:rgb(87, 83, 83);
    
}
.title {
    font-size: 33px;
}

.button {
    font-size: 15px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(64, 63, 66);
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    margin-left: 10rem;
    color:azure;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.button:hover, .button:focus, .button:active{
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.submit {
    background-color: rgb(201, 201, 212) ;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.submit:hover, .button:focus, .button:active{
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar {
    max-width: 110rem;
    background-color: rgb(48, 48, 49);
}

.container_2 {
   display: flex;
   align-items: flex-start;
   flex-direction: column; 
}

.map {
    margin-left: 1rem;
}

h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.content {
    display:grid ;
    border-style: groove;
    align-items:flex-end;
}